<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercial Copihue - Quesos, Lacteos y Frutos Secos</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bgLight">
    <div class="bgLight textCenter textMayus paraFijologo">
        <p>comercial<img src="../img/logo.png" alt="">copihue</p>
    </div>
    <nav class="menu"> 
        <ul>
           <li>
               <a href="../index.html"><img src="../img/flower_8.svg" alt="logo con el que vuelves al inicio">
               </a>   
           </li>
           <li>
               <a href="./views/productos.html">Productos</a>
           </li>
           <li>
               <a href="./views/promociones.html">Promociones</a>
           </li>
           <li>
               <a href="./views/nosotros.html">Nosotros</a>
           </li>
           <li>
               <a href="./views/contacto.html">Contacto</a>
           </li>
       </ul> 
   </nav>
    <header class="textCenter">
            <h1>nuestros productos</h1>
    </header>

    <main class="textCenter">
        <section class="bordesProd">
            <h2>Quesos</h2>
            <article class="mismaLinea">
                <img src="../img/quesocabra.jpg" alt="Nuestro queso de cabra">
                <p>
                    Producto: Queso de Cabra
                </p>
                    <p>
                        Unidad de Medida: Kilogramo
                    </p>
                        <p>
                            Precio: $3000 por kg
                        </p>  
            </article>
                    <article class="mismaLinea">
                    <img src="../img/quesovaca.jpg" alt="nuestro queso de vaca"> 
                    <p>
                        Producto: Queso de Vaca
                    </p>
                        <p>
                            Unidad de Medida: Kilogramo
                        </p>
                            <p>
                                Precio: $2500 por kg
                            </p>        
                     </article>
        
        <h2 class="textInterlinea">leches</h2>
            <article class="mismaLinea">
                <img src="../img/lecheavellana.jpg" alt="Nuestra leche de avellana de excelente calidad">
                <p>
                     Producto: Leche de avellanas
                </p>
                 <p>
                     Unidad de Medida: Litros
                 </p>
                 <p>
                     Precio: $1000 por lt
                </p>  
            </article>
                <article class="mismaLinea">
                    <img src="../img/lechealmendra.jpg" alt="nuestra leche de almendra de excelente calidad"> 
                    <p>
                         Producto: Leche de almendras
                    </p>
                    <p>
                         Unidad de Medida: Litros
                    </p>
                    <p>
                         Precio: $2500 por lt
                     </p>        
            </article>
            <h2 class="textInterlinea">frutos secos</h2>
            <article class="mismaLinea">
                <img src="../img/avellana.jpg" alt="Las mejores Avellanas">
                <p>
                     Producto: Avellanas
                </p>
                 <p>
                     Unidad de Medida: Kilogramo
                 </p>
                 <p>
                     Precio: $3500 por kg
                </p>  
            </article>
                <article class="mismaLinea">
                    <img src="../img/almendra.jpg" alt="Las Almendras más frescas">
                    <p>
                         Producto: Almendras
                    </p>
                    <p>
                         Unidad de Medida: Kilogramo
                    </p>
                    <p>
                         Precio: $3200 por lt
                     </p>        
            </article>
            <article class="mismaLinea">
                <img src="../img/mixfrutossecos.jpg" alt="Un mix de frutos secos mixeado a full">
                <p>
                     Producto: Mix de frutos secos
                </p>
                 <p>
                     Unidad de Medida: Kilogramo
                 </p>
                 <p>
                     Precio: $2500 por kg
                </p>  
            </article>
                <article class="mismaLinea">
                    <img src="../img/mani.jpg" alt="Mani de calidad para cuando salte lejos el mani">
                    <p>
                         Producto: Mani
                    </p>
                    <p>
                         Unidad de Medida: Kilogramo
                    </p>
                    <p>
                         Precio: $2000 por lt
                     </p>        
            </article>                        
        </section>
    </main>

    <footer class="textCenter">
        <h3 class="bgFoot">NUESTRAS REDES SOCIALES
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook.png" alt="">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/twitter.png" alt="">
            </a>
        </h3>
    </footer>
</body>
</html>