<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercial Copihue - Quesos, Lacteos y Frutos Secos</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bgLight">
    <div class="bgLight textCenter textMayus paraFijologo">
        <p>comercial<img src="../img/logo.png" alt="">copihue</p>
    </div>
    <nav class="menu"> 
        <ul>
           <li>
               <a href="../index.html"><img src="../img/flower_8.svg" alt="logo con el que vuelves al inicio">
               </a>   
           </li>
           <li>
               <a href="./views/productos.html">Productos</a>
           </li>
           <li>
               <a href="./views/promociones.html">Promociones</a>
           </li>
           <li>
               <a href="./views/nosotros.html">Nosotros</a>
           </li>
           <li>
               <a href="./views/contacto.html">Contacto</a>
           </li>
       </ul> 
   </nav>
    <header class="textCenter">
        <img src="../img/promociones.jpg" alt="promociones de productos por tiempo limitado" class="imagenPromo">   
    </header>
    <main class="textCenter">
        <section >
            <article class="bgDark">
                <h1>Promociones del mes</h1>
                <p class="textMedian textColo">
                    Queso de Cabra a $1000 el kilogramo!!
                </p>
            </article>
            <article class="bgDark textInterlinea">
                <p class="textMedian textColo">
                    La Leche de almendras a $500 el litro!!
                </p>
            </article>
            
        </section>
    </main>
    <footer class="textCenter">
        <h3 class="bgFoot">NUESTRAS REDES SOCIALES
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook.png" alt="">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/twitter.png" alt="">
            </a>
        </h3>
    </footer>
</body>
</html>